<div class="two-factor-container">
  <h2>Scan the QR code with</h2>
  <h2>Google Authenticator</h2>
  <qrcode [qrdata]="url" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
  <div>
    <input class="two-factor-input" #codeInput type="text" placeholder="Enter the code">
    @if (status() === 'success') {
      <div class="notification-success">
        <p>Code verified successfully!</p>
      </div>
    }
    @if (status() === 'failed') {
      <div class="notification-failed">
        <p>Code verification failed!</p>
      </div>
    }
  </div>
  <button class="two-factor-button" (click)="submitCode(codeInput.value)">Submit</button>
  <button class="two-factor-button" (click)="changeModal()">Cancel</button>
</div>
